
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.idea/
/front/node_modules/
###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
/front/build/
composer.phar
/public/asset-manifest.json
/public/static/
/public/favicon.ico
/public/service-worker.js
/public/manifest.json
prepros-6.config