<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WoodCard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="./index/css/main.css">
    <link rel="stylesheet" href="./index/css/indexpage.css">

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window,document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '176975496398514');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1"
             src="https://www.facebook.com/tr?id=176975496398514&ev=PageView
&noscript=1"/>
    </noscript>

</head>

<body>
<div class="thankyou-wrapper">

    <header class="indexpage-header">
        <div class="indexpage-header-container">
            <div class="indexpage-header-container-text">
                <h1>Унікальні подарунки з дерева</h1>
                <h2>З нанесенням вашої фотографії та побажання</h2>
                <div class="button-container">
                    <a href="/heart2" class="indexpage-header-container-text-btn">Серце</a>
{#                    <a href="/flower" class="indexpage-header-container-text-btn">Квітка</a>#}
{#                    <a href="/toy" class="indexpage-header-container-text-btn">Іграшка з метрикою</a>#}
                </div>
            </div>
        </div>
    </header>

    <footer class="thankyou-footer">
        <div class="footer-container">
            <div class="footer-col thankyou-footer-logo">
                <img src="./index/img/logo-white.png" alt="">
                <p>Ми робимо унікальні іграшки з дерева для того, щоб Ваш подарунок був особливим</p>
            </div>
            <div class="footer-col thankyou-footer-social">
                <h3>Приєднуйтеся до нас у соціальних мережах:</h3>
                <ul class="thankyou-footer-social-list">
                    <li class="thankyou-footer-social-list-item"> <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                    <li class="thankyou-footer-social-list-item"> <a href="https://instagram.com/thewoodcard"><i class="fa fa-instagram" aria-hidden="true"></i></a> </i>
                    </li>
                </ul>
            </div>
            <div class="footer-col thankyou-footer-question">
                <p>Є питання? Телефонуйте нам:</p>
                <a href="tel:+380990633919">(099)063-39-19</a>
                <p>Пишіть у Viber або на пошту</p>
                <a href="mailto:mywoodcard@gmail.com">mywoodcard@gmail.com</a>
                <p>Працюємо з 10:00 до 18:00</p>
            </div>
        </div>
        <p class="copiright">@ 2016 WoodCard</p>
    </footer>
</div>
</body>

</html>
