
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WoodCard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/heart-landing/css/main.css">
</head>

<body>
1. Збір інформації

Ми збираємо інформацію від вас, коли ви робите замовлення на нашому сайті. Зібрана інформація включає ваше ім’я та прізвище, адресу електронної пошти, номер телефону та фотографію.

Крім того, ми автоматично отримуємо та записуємо інформацію з вашого комп’ютера та браузера, включаючи вашу IP-адресу, атрибути програмного та апаратного забезпечення та сторінку, яку ви запитуєте.

2. Використання інформації

Будь-яка інформація, яку ми збираємо від вас, може бути використана для того, щоб:

Персоналізувати ваш досвід та відповідати вашим індивідуальним потребам
Надати індивідуальний рекламний контент
Покращити наш веб-сайт
Покращити обслуговування клієнтів та підтримку
Зв’язатися з вами електронною поштою
Адмініструвати конкурс, рекламну акцію або опитування
3. Конфіденційність електронної комерційної діяльності

Ми є єдиними власниками інформації, зібраної на цьому сайті. Ваша особиста інформація не буде продаватися, обмінюватись, передаватися чи надаватися будь-якій іншій компанії з будь-якої причини без вашої згоди, крім необхідного для виконання запиту та / або транзакції, наприклад. відправлення замовлення.

4. Розголошення даних третім особам

Ми не продаємо, не торгуємо та не передаємо стороннім особам вашу особисту інформацію. Це не стосується надійних третіх сторін, які допомагають нам керувати нашим веб-сайтом або вести наш бізнес, якщо сторони погоджуються зберігати цю інформацію конфіденційноl.

Ми вважаємо, що необхідно обмінюватись інформацією для того, щоб досліджувати, запобігати або вживати заходів щодо незаконних дій, таких як шахрайство, та ситуацій, які можуть спричинити потенційну загрозу фізичній безпеці будь-якої людини, викликати порушення наших умов використання або зашкодити будь-яким іншим способом, що є передбачений законом.

Однак не приватна інформація може бути надана іншим сторонам для маркетингу, реклами або інших цілей.

5. Захист інформації

Ми впроваджуємо різні заходи безпеки для забезпечення конфідеційності вашої особистої інформації. Ми використовуємо найсучасніші методи шифрування для захисту конфіденційної інформації, що передається в Інтернеті. VpnMentor також захищає вашу інформацію в автономному режимі. Лише співробітникам, яким потрібно виконувати певну роботу (наприклад, виставляти рахунки або обслуговувати клієнтів), надається доступ до персональної інформації. Комп’ютери / сервери, що використовуються для зберігання особистої інформації, знаходяться в безпечному місці.

Чи використовуємо ми файли cookie?

Так. Наші файли cookie покращують доступ до нашого сайту та визначають повторних відвідувачів. Крім того, наші файли cookie розширюють досвід користувача, відслідковуючи та орієнтуючи його/її інтереси. Однак таке використання файлів cookie ніяким чином не пов’язане з жодною особистою інформацією на нашому сайті.

6. Скасувати підписку

Ми використовуємо надану вами електронну адресу, щоб надсилати вам інформацію та оновлення, які стосуються вашого замовлення, періодичні новини компанії, відповідну інформацію про продукт тощо. Якщо у будь-який момент ви захочете скасувати підписку на отримання в подальшому електронних листів, на цей випадок ми включатимемо детальні інструкції щодо скасування підписки внизу кожного електронного листа.

7. Згода
Використовуючи наш сайт, ви автоматично погоджуєтеся з нашою політикою конфіденційності.
</body>
</html>
