<!DOCTYPE html>
<!-- saved from url=(0037)https://woodcard.com.ua/thankyouheart -->
<html class="gr__woodcard_com_ua"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><title>Дякуємо за замовлення. WoodCard - унікальні подарунки з дерева</title><link rel="icon" type="image/x-icon" href="https://u8.filesonload.ru/bd90bdd8d4ed83073e6e9a05363dfa3f/aeedb3ad97c776c0d0f130341c26819b.ico"><meta name="viewport" content="width=device-width, initial-scale=1.0"><script type="text/javascript" async="" src="/main/index/analytics.js"></script><script type="text/javascript" async="" src="/main/index/watch.js"></script><script src="/main/index/561222974256529" async=""></script><script async="" src="/main/index/fbevents.js"></script><script>window.plp = {"page_id":1145559,"content_id":1348288,"lang":"uk","time":1515580314,"screens":"screens-xs-sm-md-lg","animations":{"section":{"type":"scroll"},"widget":{"type":"scroll"}}};window.plp_page_id = 1145559;window.plp_content_id = 1348288;window.plp_lang = "uk";window.lptag = "ce2facec4b39e43e6a30edc0ee4173d415W+S4qmBnBIsMIknXj9GAolqR6G7hu1okSiZQJyCSlKjQKlWct2m0lxv6Dlr8C/";window.error_handler = function (e, fn_id) {    window.console && console.log && console.log(fn_id);    window['error_handler_' + fn_id] && eval(window['error_handler_' + fn_id]);    window.trackJs && trackJs.track(e);    window.console && console.error && console.error(e.message);};setTimeout(function(){try{x=new(XMLHttpRequest||ActiveXObject),x.open('PUT','/',1),x.send(window.lptag+'\n'+document.referrer+'\n'+(location.pathname+location.search))}catch(a){}},1e3);</script><link type="text/css" rel="stylesheet" href="/main/index/default.css"><script type="text/javascript">window._trackJs = {    token: "4fd557ccb06a4bd28e7b90da188cd54b",    application: "production",    enabled: location.href.indexOf("notrackjs") < 0,};</script><!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="/main/index/js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-110410745-1');
    </script>

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '561222974256529');
        fbq('track', 'PageView');
    </script>
    <noscript>&lt;img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=561222974256529&amp;ev=PageView&amp;noscript=1"
        /&gt;</noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter46901088 = new Ya.Metrika({
                        id:46901088,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript>&lt;div&gt;&lt;img src="https://mc.yandex.ru/watch/46901088" style="position:absolute; left:-9999px;" alt="" /&gt;&lt;/div&gt;</noscript>
    <!-- /Yandex.Metrika counter --></head><body class="area " data-gr-c-s-loaded="true"><div class="area font-text-opensans font-header-opensans screen-lg"><style>.node2 > .wrapper1 { color: #333 }
        .node2 > .wrapper1 > .wrapper2 { padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px }
        .node2 a { color: rgb(230, 198, 25) }
        .node2 .padding { height: 80px }


        .node63 > .wrapper1 { color: #333 }
        .node63 > .wrapper1 > .wrapper2 { padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px }
        .node63 a { color: rgb(230, 198, 25) }


        .node4 > .wrapper1 { color: #333 }
        .node4 > .wrapper1 > .wrapper2 { padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px }
        .node4 a { color: rgb(230, 198, 25) }
        .node4 .padding { height: 80px }


        .node1 > .wrapper1 { background-color: rgba(255, 255, 255, 0.78); color: #333 }
        .node1 > .wrapper1 > .wrapper2 { padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px }
        .node1 a { color: rgb(230, 198, 25) }


        .node5 > .wrapper1 { color: #FFF }
        .node5 > .wrapper1 > .wrapper2 { padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px }
        .node5 a { color: rgb(230, 95, 25) }
        .node5 .padding { height: 20px }
        .screen-xs .node5 .padding { height: 2px!important }


        .node0 > .wrapper1 { background-attachment: fixed; background-position: center center; background-size: cover; background-repeat: no-repeat; color: #FFF }
        .node0 > .wrapper1 > .wrapper2 { background-color: rgba(0,0,0,0.5); padding-top: 20px; padding-bottom: 20px }
        .node0 a { color: rgb(230, 95, 25) }


        .node12 > .wrapper1 { color: #FFF }
        .node12 > .wrapper1 > .wrapper2 { padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px }
        .node12 a { color: rgb(230, 25, 25) }


        .node13 > .wrapper1 { color: #FFF }
        .node13 > .wrapper1 > .wrapper2 { padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px }
        .node13 a { color: rgb(230, 25, 25) }


        .node14 > .wrapper1 { color: #FFF }
        .node14 > .wrapper1 > .wrapper2 { padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px }
        .node14 a { color: rgb(230, 25, 25) }


        #uid2 { background-color: rgb(235, 16, 16);border-top-left-radius: 4px;border-top-right-radius: 4px;border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;border-style: solid;border-top-width: 1px;border-bottom-width: 3px;border-left-width: 1px;border-right-width: 1px;border-color: rgb(188, 13, 13);padding-top: 8px;padding-bottom: 8px;padding-left: 16px;padding-right: 16px;font-size: 18px;color: rgb(255, 255, 255);font-family: Roboto Slab;box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25); } #uid2:hover, #uid2.hover { background-color: rgb(240, 37, 37);border-color: rgb(188, 13, 13);color: rgb(255, 255, 255); } #uid2:active, #uid2.active { background-color: rgb(241, 59, 59);border-color: rgb(188, 13, 13);border-top-width: 3px;border-bottom-width: 1px;color: rgb(255, 255, 255);box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.25); } #uid2:before {  } #uid2:active:before, #uid2.active:before { background-color: rgb(241, 59, 59);box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.25); } #uid2 .fa { font-size: 23px; }

        .node15 > .wrapper1 { color: #FFF }
        .node15 > .wrapper1 > .wrapper2 { padding-top: 12px; padding-right: 5px; padding-bottom: 12px; padding-left: 5px }
        .screen-xs .node15 > .wrapper1 > .wrapper2 { padding-top: 17px!important; padding-bottom: 0px!important }
        .node15 a { color: rgb(230, 25, 25) }


        .node17 > .wrapper1 { color: #FFF }
        .node17 > .wrapper1 > .wrapper2 { padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px }
        .node17 a { color: rgb(230, 25, 25) }


        #uid3.soc-icon a .bg {border-top-left-radius: 30px;border-top-right-radius: 30px;border-bottom-right-radius: 30px;border-bottom-left-radius: 30px;width: 52px;height: 52px;padding: 11px;border-style: solid;border-top-width: 0px;border-bottom-width: 0px;border-left-width: 0px;border-right-width: 0px;box-shadow: 0px 3px 12px 0px rgba(23, 27, 46, 0.19);}#uid3.soc-icon span { line-height: 52px }

        .node18 > .wrapper1 { color: #FFF }
        .node18 > .wrapper1 > .wrapper2 { padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px }
        .node18 a { color: rgb(230, 25, 25) }


        .node19 > .wrapper1 { color: #FFF }
        .node19 > .wrapper1 > .wrapper2 { padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px }
        .node19 a { color: rgb(230, 25, 25) }


        .node20 > .wrapper1 { color: #FFF }
        .node20 > .wrapper1 > .wrapper2 { padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px }
        .node20 a { color: rgb(230, 25, 25) }


        .node21 > .wrapper1 { color: #FFF }
        .node21 > .wrapper1 > .wrapper2 { padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px }
        .node21 a { color: rgb(230, 25, 25) }


        .node22 > .wrapper1 { color: #FFF }
        .node22 > .wrapper1 > .wrapper2 { padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px }
        .node22 a { color: rgb(230, 25, 25) }


        .node23 > .wrapper1 { color: #FFF }
        .node23 > .wrapper1 > .wrapper2 { padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px }
        .node23 a { color: rgb(230, 25, 25) }


        .node11 > .wrapper1 { color: #FFF }
        .node11 > .wrapper1 > .wrapper2 { padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px }
        .node11 a { color: rgb(230, 25, 25) }


        .node27 > .wrapper1 { color: #FFF }
        .node27 > .wrapper1 > .wrapper2 { padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px }
        .node27 a { color: rgb(230, 25, 25) }


        .node10 > .wrapper1 { background-color: rgb(219, 0, 0); color: #FFF }
        .node10 > .wrapper1 > .wrapper2 { padding-top: 30px; padding-bottom: 30px }
        .node10 a { color: rgb(230, 25, 25) }


        .node35 > .wrapper1 { color: #333 }
        .node35 > .wrapper1 > .wrapper2 { padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px }
        .node35 a { color: rgb(230, 198, 25) }


        .node36 > .wrapper1 { color: #333 }
        .node36 > .wrapper1 > .wrapper2 { padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px }
        .node36 a { color: rgb(230, 198, 25) }


        .node37 > .wrapper1 { color: #333 }
        .node37 > .wrapper1 > .wrapper2 { padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px }
        .node37 a { color: rgb(230, 198, 25) }


        .node38 > .wrapper1 { color: #333 }
        .node38 > .wrapper1 > .wrapper2 { padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px }
        .node38 a { color: rgb(230, 198, 25) }


        .node39 > .wrapper1 { color: #333 }
        .node39 > .wrapper1 > .wrapper2 { padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px }
        .node39 a { color: rgb(230, 198, 25) }


        .node34 > .wrapper1 { color: #333 }
        .node34 > .wrapper1 > .wrapper2 { padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px }
        .node34 a { color: rgb(230, 198, 25) }


        .node41 > .wrapper1 { color: #333 }
        .node41 > .wrapper1 > .wrapper2 { padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px }
        .node41 a { color: rgb(230, 198, 25) }


        .node33 > .wrapper1 { color: #333 }
        .node33 > .wrapper1 > .wrapper2 { padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px }
        .node33 a { color: rgb(230, 198, 25) }


        .node43 > .wrapper1 { color: #333 }
        .node43 > .wrapper1 > .wrapper2 { padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px }
        .node43 a { color: rgb(230, 198, 25) }


        #uid17 { background-color: rgb(219, 0, 0);border-top-left-radius: 25px;border-top-right-radius: 25px;border-bottom-right-radius: 25px;border-bottom-left-radius: 25px;border-style: solid;border-top-width: 2px;border-bottom-width: 2px;border-left-width: 2px;border-right-width: 2px;border-color: rgb(175, 0, 0);padding-top: 8px;padding-bottom: 8px;padding-left: 30px;padding-right: 30px;font-size: 14px;color: rgb(255, 255, 255); } #uid17:hover, #uid17.hover { background-color: rgb(197, 0, 0);border-color: rgb(140, 0, 0);color: rgb(255, 255, 255); } #uid17:active, #uid17.active { background-color: rgb(197, 0, 0);border-color: rgb(158, 0, 0);color: rgb(255, 255, 255); } #uid17:before {  } #uid17:active:before, #uid17.active:before { background-color: rgb(197, 0, 0); } #uid17 .fa { font-size: 18px; }

        #uid19 { background-color: rgb(219, 0, 0);border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;border-style: solid;border-top-width: 1px;border-bottom-width: 3px;border-left-width: 1px;border-right-width: 1px;border-color: rgb(175, 0, 0);padding-top: 8px;padding-bottom: 8px;padding-left: 16px;padding-right: 16px;font-size: 18px;color: rgb(255, 255, 255);font-family: Roboto Slab;box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25); } #uid19:hover, #uid19.hover { background-color: rgb(197, 0, 0);border-color: rgb(140, 0, 0);color: rgb(255, 255, 255); } #uid19:active, #uid19.active { background-color: rgb(197, 0, 0);border-color: rgb(158, 0, 0);border-top-width: 3px;border-bottom-width: 1px;color: rgb(255, 255, 255);box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.25); } #uid19:before {  } #uid19:active:before, #uid19.active:before { background-color: rgb(197, 0, 0);box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.25); } #uid19 .fa { font-size: 23px; }

        .node44 > .wrapper1 { color: #333 }
        .node44 > .wrapper1 > .wrapper2 { padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px }
        .node44 a { color: rgb(230, 198, 25) }


        .node42 > .wrapper1 { color: #333 }
        .node42 > .wrapper1 > .wrapper2 { padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px }
        .node42 a { color: rgb(230, 198, 25) }


        .node50 > .wrapper1 { color: #333 }
        .node50 > .wrapper1 > .wrapper2 { padding-top: 15px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px }
        .node50 a { color: rgb(230, 198, 25) }


        .node51 > .wrapper1 { color: #333 }
        .node51 > .wrapper1 > .wrapper2 { padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px }
        .node51 a { color: rgb(230, 198, 25) }


        .node52 > .wrapper1 { color: #333 }
        .node52 > .wrapper1 > .wrapper2 { padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px }
        .node52 a { color: rgb(230, 198, 25) }
    </style><script>if (plp.screens === 'screens-xs') plp.screen = 'xs';
        else if (plp.screens === 'screens-sm') plp.screen = 'sm';
        else if (plp.screens === 'screens-md') plp.screen = 'md';
        else if (plp.screens === 'screens-lg') plp.screen = 'lg';
        else if (plp.screens === 'screens-xs-sm') {
            if (document.body.clientWidth >= 768) plp.screen = 'sm';
            else if (document.body.clientWidth <= 767) plp.screen = 'xs';
        } else if (plp.screens === 'screens-xs-md') {
            if (document.body.clientWidth >= 992) plp.screen = 'md';
            else if (document.body.clientWidth <= 991) plp.screen = 'xs';
        } else if (plp.screens === 'screens-xs-lg') {
            if (document.body.clientWidth >= 1200) plp.screen = 'lg';
            else if (document.body.clientWidth <= 1199) plp.screen = 'xs';
        } else if (plp.screens === 'screens-sm-md') {
            if (document.body.clientWidth >= 992) plp.screen = 'md';
            else if (document.body.clientWidth <= 991) plp.screen = 'sm';
        } else if (plp.screens === 'screens-sm-lg') {
            if (document.body.clientWidth >= 1200) plp.screen = 'lg';
            else if (document.body.clientWidth <= 1199) plp.screen = 'sm';
        } else if (plp.screens === 'screens-md-lg') {
            if (document.body.clientWidth >= 1200) plp.screen = 'lg';
            else if (document.body.clientWidth <= 1199) plp.screen = 'md';
        } else if (plp.screens === 'screens-xs-sm-md') {
            if (document.body.clientWidth >= 992) plp.screen = 'md';
            else if (document.body.clientWidth >= 768 && document.body.clientWidth <= 991) plp.screen = 'sm';
            else if (document.body.clientWidth <= 767) plp.screen = 'xs';
        } else if (plp.screens === 'screens-xs-sm-lg') {
            if (document.body.clientWidth >= 1200) plp.screen = 'lg';
            else if (document.body.clientWidth >= 768 && document.body.clientWidth <= 1199) plp.screen = 'sm';
            else if (document.body.clientWidth <= 767) plp.screen = 'xs';
        } else if (plp.screens === 'screens-xs-md-lg') {
            if (document.body.clientWidth >= 1200) plp.screen = 'lg';
            else if (document.body.clientWidth >= 992 && document.body.clientWidth <= 1199) plp.screen = 'md';
            else if (document.body.clientWidth <= 991) plp.screen = 'xs';
        } else if (plp.screens === 'screens-sm-md-lg') {
            if (document.body.clientWidth >= 1200) plp.screen = 'lg';
            else if (document.body.clientWidth >= 992 && document.body.clientWidth <= 1199) plp.screen = 'md';
            else if (document.body.clientWidth <= 991) plp.screen = 'sm';
        } else if (plp.screens === 'screens-xs-sm-md-lg') {
            if (document.body.clientWidth >= 1200) plp.screen = 'lg';
            else if (document.body.clientWidth >= 992 && document.body.clientWidth <= 1199) plp.screen = 'md';
            else if (document.body.clientWidth >= 768 && document.body.clientWidth <= 991) plp.screen = 'sm';
            else if (document.body.clientWidth <= 767) plp.screen = 'xs';
        }
        [].slice.call(document.body.childNodes).forEach(function (el) {
            if (el.className && el.className.indexOf('area') >= 0) {
                el.classList.add('screen-' + plp.screen);
            }
        });</script><div class="node node0 section section-clear"><div class="wrapper1" style="background-image: url(&quot;//u8.filesonload.ru/bd90bdd8d4ed83073e6e9a05363dfa3f/d9de1a26757fbe7627841ba2ebc9c921.jpg&quot;);"><div class="wrapper2"><div class="snowfield"><div class="snowflake snowflake-text" data-type="text" style="top: -40px; left: 1083px; opacity: 0; transform: translate(-42px, 502px) rotate(587deg); transition: 10996ms linear; font-size: 20px;">❆</div><div class="snowflake snowflake-text" data-type="text" style="top: -58px; left: 1332px; opacity: 0; transform: translate(80px, 520px) rotate(600deg); transition: 10853ms linear; font-size: 29px;">❆</div><div class="snowflake snowflake-text" data-type="text" style="top: -28px; left: 111px; opacity: 0; transform: translate(-8px, 490px) rotate(389deg); transition: 9346ms linear; font-size: 14px;">*</div><div class="snowflake snowflake-text" data-type="text" style="top: -60px; left: 1168px; opacity: 0; transform: translate(-52px, 522px) rotate(535deg); transition: 9419ms linear; font-size: 30px;">.</div><div class="snowflake snowflake-text" data-type="text" style="top: -36px; left: 991px; opacity: 0; transform: translate(29px, 498px) rotate(689deg); transition: 10383ms linear; font-size: 18px;">❆</div><div class="snowflake snowflake-text" data-type="text" style="top: -34px; left: 529px; opacity: 0; transform: translate(-63px, 496px) rotate(413deg); transition: 9870ms linear; font-size: 17px;">*</div><div class="snowflake snowflake-text" data-type="text" style="top: -46px; left: 970px; opacity: 0; transform: translate(-60px, 508px) rotate(601deg); transition: 10684ms linear; font-size: 23px;">❆</div><div class="snowflake snowflake-text" data-type="text" style="top: -60px; left: 1166px; opacity: 0; transform: translate(73px, 522px) rotate(502deg); transition: 11052ms linear; font-size: 30px;">❅</div><div class="snowflake snowflake-text" data-type="text" style="top: -42px; left: 1241px; opacity: 0; transform: translate(93px, 504px) rotate(595deg); transition: 9917ms linear; font-size: 21px;">*</div><div class="snowflake snowflake-text" data-type="text" style="top: -40px; left: 1117px; opacity: 0; transform: translate(36px, 502px) rotate(623deg); transition: 10658ms linear; font-size: 20px;">.</div><div class="snowflake snowflake-text" data-type="text" style="top: -24px; left: 1129px; opacity: 0; transform: translate(-61px, 486px) rotate(500deg); transition: 9793ms linear; font-size: 12px;">❅</div><div class="snowflake snowflake-text" data-type="text" style="top: -48px; left: 216px; opacity: 0; transform: translate(-72px, 510px) rotate(568deg); transition: 10672ms linear; font-size: 24px;">❆</div><div class="snowflake snowflake-text" data-type="text" style="top: -40px; left: 1109px; opacity: 0; transform: translate(-89px, 502px) rotate(514deg); transition: 10387ms linear; font-size: 20px;">*</div><div class="snowflake snowflake-text" data-type="text" style="top: -42px; left: 1401px; opacity: 0; transform: translate(59px, 504px) rotate(428deg); transition: 9364ms linear; font-size: 21px;">*</div><div class="snowflake snowflake-text" data-type="text" style="top: -24px; left: 1207px; opacity: 0; transform: translate(-57px, 486px) rotate(709deg); transition: 9964ms linear; font-size: 12px;">.</div><div class="snowflake snowflake-text" data-type="text" style="top: -52px; left: 664px; opacity: 0; transform: translate(8px, 514px) rotate(452deg); transition: 9659ms linear; font-size: 26px;">❄</div><div class="snowflake snowflake-text" data-type="text" style="top: -28px; left: 233px; opacity: 0; transform: translate(7px, 490px) rotate(406deg); transition: 10372ms linear; font-size: 14px;">❆</div><div class="snowflake snowflake-text" data-type="text" style="top: -46px; left: 547px; opacity: 0; transform: translate(95px, 508px) rotate(654deg); transition: 9274ms linear; font-size: 23px;">❆</div><div class="snowflake snowflake-text" data-type="text" style="top: -54px; left: 810px; opacity: 0; transform: translate(79px, 516px) rotate(574deg); transition: 10018ms linear; font-size: 27px;">*</div><div class="snowflake snowflake-text" data-type="text" style="top: -20px; left: 1274px; opacity: 0; transform: translate(-21px, 482px) rotate(621deg); transition: 11000ms linear; font-size: 10px;">.</div><div class="snowflake snowflake-text" data-type="text" style="top: -44px; left: 604px; opacity: 0; transform: translate(-32px, 506px) rotate(629deg); transition: 10250ms linear; font-size: 22px;">.</div><div class="snowflake snowflake-text" data-type="text" style="top: -36px; left: 843px; opacity: 0; transform: translate(90px, 498px) rotate(520deg); transition: 9426ms linear; font-size: 18px;">❆</div><div class="snowflake snowflake-text" data-type="text" style="top: -44px; left: 955px; opacity: 0; transform: translate(-7px, 506px) rotate(420deg); transition: 10108ms linear; font-size: 22px;">❄</div><div class="snowflake snowflake-text" data-type="text" style="top: -28px; left: 90px; opacity: 0; transform: translate(98px, 490px) rotate(615deg); transition: 10738ms linear; font-size: 14px;">*</div><div class="snowflake snowflake-text" data-type="text" style="top: -32px; left: 895px; opacity: 0; transform: translate(1px, 494px) rotate(650deg); transition: 10183ms linear; font-size: 16px;">❄</div><div class="snowflake snowflake-text" data-type="text" style="top: -46px; left: 261px; opacity: 0; transform: translate(-35px, 508px) rotate(400deg); transition: 10500ms linear; font-size: 23px;">.</div><div class="snowflake snowflake-text" data-type="text" style="top: -48px; left: 326px; opacity: 0; transform: translate(-6px, 510px) rotate(422deg); transition: 9525ms linear; font-size: 24px;">.</div><div class="snowflake snowflake-text" data-type="text" style="top: -30px; left: 3px; opacity: 0; transform: translate(-4px, 492px) rotate(467deg); transition: 10328ms linear; font-size: 15px;">❅</div><div class="snowflake snowflake-text" data-type="text" style="top: -20px; left: 1428px; opacity: 0; transform: translate(-56px, 482px) rotate(638deg); transition: 10423ms linear; font-size: 10px;">.</div><div class="snowflake snowflake-text" data-type="text" style="top: -36px; left: 163px; opacity: 0; transform: translate(31px, 365px) rotate(317deg); transition: 7342ms linear; font-size: 18px;">❅</div><div class="snowflake snowflake-text" data-type="text" style="top: -34px; left: 474px; opacity: 0; transform: translate(59px, 363px) rotate(422deg); transition: 7415ms linear; font-size: 17px;">❆</div><div class="snowflake snowflake-text" data-type="text" style="top: -54px; left: 203px; opacity: 0; transform: translate(-2px, 383px) rotate(445deg); transition: 7537ms linear; font-size: 27px;">.</div><div class="snowflake snowflake-text" data-type="text" style="top: -34px; left: 615px; opacity: 0.9; transform: none; transition: 6640ms linear; font-size: 17px;">.</div></div><div class="container"><div class="cont"><div class="node node1 widget widget-element" outline="5"><div class="wrapper1"><div class="wrapper2"><div class="cont"><div class="node node2 widget widget-blank" outline="5"><div class="wrapper1"><div class="wrapper2"><div class="padding"></div></div></div></div><div class="node node63 widget widget-text" outline="3"><div class="wrapper1"><div class="wrapper2"><div class="xs-scale-80"><h1 class="font-header spans xs-force-center textable gray-theme"><span style="font-size: 34px; text-align: center;" class="p"><span style="color: rgb(238, 29, 36);"><span style="font-size: 26px;"><span style="font-family: &quot;Roboto Slab&quot;;"><strong>Дякуємо за замовлення!</strong></span></span></span></span><span style="font-size: 34px; text-align: center;" class="p"><span style="font-size: 20px;"><span style="font-family: &quot;Roboto Slab&quot;;">Нам дуже приємно, що Ви обрали серце з підставкою WoodCard.</span></span></span><span style="font-size: 34px; text-align: center;" class="p"><span style="font-size: 20px;"><span style="font-family: &quot;Roboto Slab&quot;;">Ми розробимо макет та надішлемо його Вам на затвердження протягом восьми годин</span></span><span style="font-size: 20px;"><span style="font-family: &quot;Roboto Slab&quot;;">&nbsp;з 10:00 до 20:00.&nbsp;</span></span></span><span style="font-size: 34px; text-align: center;" class="p"><span style="font-size: 20px;"><span style="font-family: &quot;Roboto Slab&quot;;">Разом з макетом Ви отримаєте усі подальші інструкції щодо оплати та доставки.&nbsp;</span></span></span><span style="font-size: 34px; text-align: center;" class="p"><span style="font-size: 20px;"><span style="font-family: &quot;Roboto Slab&quot;;">Гарного дня!</span></span></span><span style="font-size: 34px; text-align: center;" class="p"><span style="font-size: 20px;"><span style="font-family: &quot;Roboto Slab&quot;;">З любов'ю, WoodCard.</span></span></span></h1></div></div></div></div><div class="node node4 widget widget-blank" outline="0"><div class="wrapper1"><div class="wrapper2"><div class="padding"></div></div></div></div></div></div></div></div><div class="node node5 widget widget-blank" outline="0"><div class="wrapper1"><div class="wrapper2"><div class="padding"></div></div></div></div></div></div><span class="plplink"></span></div></div></div><div class="node node10 section section-clear" id="contacts"><div class="wrapper1"><div class="wrapper2"><div class="snowfield"><div class="snowflake snowflake-text" data-type="text" style="top: -50px; left: 1383px; opacity: 0; transform: translate(16px, 379px) rotate(460deg); transition: 7733ms linear; font-size: 25px;">❅</div><div class="snowflake snowflake-text" data-type="text" style="top: -48px; left: 1287px; opacity: 0; transform: translate(72px, 377px) rotate(450deg); transition: 7607ms linear; font-size: 24px;">❄</div><div class="snowflake snowflake-text" data-type="text" style="top: -52px; left: 738px; opacity: 0; transform: translate(-37px, 381px) rotate(390deg); transition: 7849ms linear; font-size: 26px;">❄</div><div class="snowflake snowflake-text" data-type="text" style="top: -46px; left: 170px; opacity: 0; transform: translate(82px, 375px) rotate(378deg); transition: 7080ms linear; font-size: 23px;">❅</div><div class="snowflake snowflake-text" data-type="text" style="top: -26px; left: 1288px; opacity: 0; transform: translate(-47px, 355px) rotate(390deg); transition: 7356ms linear; font-size: 13px;">.</div><div class="snowflake snowflake-text" data-type="text" style="top: -26px; left: 422px; opacity: 0; transform: translate(-95px, 355px) rotate(395deg); transition: 7884ms linear; font-size: 13px;">❄</div><div class="snowflake snowflake-text" data-type="text" style="top: -42px; left: 1271px; opacity: 0; transform: translate(-54px, 371px) rotate(461deg); transition: 7830ms linear; font-size: 21px;">.</div><div class="snowflake snowflake-text" data-type="text" style="top: -24px; left: 426px; opacity: 0; transform: translate(26px, 353px) rotate(426deg); transition: 7037ms linear; font-size: 12px;">.</div><div class="snowflake snowflake-text" data-type="text" style="top: -30px; left: 200px; opacity: 0; transform: translate(-18px, 359px) rotate(402deg); transition: 6928ms linear; font-size: 15px;">.</div><div class="snowflake snowflake-text" data-type="text" style="top: -54px; left: 873px; opacity: 0; transform: translate(-33px, 383px) rotate(349deg); transition: 7230ms linear; font-size: 27px;">❆</div><div class="snowflake snowflake-text" data-type="text" style="top: -26px; left: 235px; opacity: 0; transform: translate(-3px, 355px) rotate(301deg); transition: 6769ms linear; font-size: 13px;">❆</div><div class="snowflake snowflake-text" data-type="text" style="top: -52px; left: 15px; opacity: 0; transform: translate(99px, 381px) rotate(502deg); transition: 7055ms linear; font-size: 26px;">❆</div><div class="snowflake snowflake-text" data-type="text" style="top: -28px; left: 935px; opacity: 0; transform: translate(41px, 357px) rotate(428deg); transition: 7626ms linear; font-size: 14px;">❆</div><div class="snowflake snowflake-text" data-type="text" style="top: -50px; left: 1022px; opacity: 0; transform: translate(32px, 379px) rotate(357deg); transition: 7891ms linear; font-size: 25px;">.</div><div class="snowflake snowflake-text" data-type="text" style="top: -24px; left: 62px; opacity: 0; transform: translate(-91px, 353px) rotate(318deg); transition: 6753ms linear; font-size: 12px;">*</div><div class="snowflake snowflake-text" data-type="text" style="top: -44px; left: 1020px; opacity: 0; transform: translate(96px, 373px) rotate(441deg); transition: 6615ms linear; font-size: 22px;">❄</div><div class="snowflake snowflake-text" data-type="text" style="top: -30px; left: 1345px; opacity: 0; transform: translate(98px, 359px) rotate(407deg); transition: 7743ms linear; font-size: 15px;">❆</div><div class="snowflake snowflake-text" data-type="text" style="top: -56px; left: 1206px; opacity: 0; transform: translate(-54px, 385px) rotate(422deg); transition: 7043ms linear; font-size: 28px;">*</div><div class="snowflake snowflake-text" data-type="text" style="top: -60px; left: 133px; opacity: 0; transform: translate(-25px, 389px) rotate(338deg); transition: 7256ms linear; font-size: 30px;">❆</div><div class="snowflake snowflake-text" data-type="text" style="top: -22px; left: 1042px; opacity: 0; transform: translate(-79px, 351px) rotate(263deg); transition: 6993ms linear; font-size: 11px;">❆</div><div class="snowflake snowflake-text" data-type="text" style="top: -24px; left: 1365px; opacity: 0; transform: translate(-58px, 353px) rotate(291deg); transition: 6765ms linear; font-size: 12px;">❄</div><div class="snowflake snowflake-text" data-type="text" style="top: -50px; left: 1311px; opacity: 0; transform: translate(98px, 379px) rotate(468deg); transition: 7553ms linear; font-size: 25px;">*</div><div class="snowflake snowflake-text" data-type="text" style="top: -48px; left: 947px; opacity: 0; transform: translate(-47px, 377px) rotate(421deg); transition: 7501ms linear; font-size: 24px;">❄</div><div class="snowflake snowflake-text" data-type="text" style="top: -58px; left: 1261px; opacity: 0; transform: translate(-59px, 387px) rotate(366deg); transition: 7831ms linear; font-size: 29px;">.</div><div class="snowflake snowflake-text" data-type="text" style="top: -36px; left: 568px; opacity: 0; transform: translate(-24px, 365px) rotate(526deg); transition: 6643ms linear; font-size: 18px;">❅</div><div class="snowflake snowflake-text" data-type="text" style="top: -52px; left: 331px; opacity: 0; transform: translate(8px, 381px) rotate(466deg); transition: 7215ms linear; font-size: 26px;">.</div><div class="snowflake snowflake-text" data-type="text" style="top: -38px; left: 988px; opacity: 0; transform: translate(-38px, 367px) rotate(403deg); transition: 7000ms linear; font-size: 19px;">.</div><div class="snowflake snowflake-text" data-type="text" style="top: -40px; left: 818px; opacity: 0; transform: translate(-20px, 369px) rotate(422deg); transition: 7293ms linear; font-size: 20px;">.</div><div class="snowflake snowflake-text" data-type="text" style="top: -20px; left: 576px; opacity: 0; transform: translate(78px, 349px) rotate(335deg); transition: 7343ms linear; font-size: 10px;">*</div><div class="snowflake snowflake-text" data-type="text" style="top: -38px; left: 1145px; opacity: 0; transform: translate(23px, 367px) rotate(299deg); transition: 7756ms linear; font-size: 19px;">❅</div><div class="snowflake snowflake-text" data-type="text" style="top: -36px; left: 111px; opacity: 0; transform: translate(63px, 365px) rotate(523deg); transition: 6854ms linear; font-size: 18px;">*</div><div class="snowflake snowflake-text" data-type="text" style="top: -20px; left: 9px; opacity: 0; transform: translate(-88px, 349px) rotate(375deg); transition: 6745ms linear; font-size: 10px;">.</div><div class="snowflake snowflake-text" data-type="text" style="top: -50px; left: 577px; opacity: 1; transform: none; transition: 7040ms linear; font-size: 25px;">.</div></div><div class="container"><div class="cont"><div class="node node11 widget widget-grid" outline="0"><div class="wrapper1"><div class="wrapper2"><div class="grid valign-middle paddings-20px xs-wrap"><div class="gridwrap"><div class="col" style="width: 24.9855%;"><div class="cont"><div class="node node12 widget widget-image" outline="0"><div class="wrapper1"><div class="wrapper2"><div class="bgimage" style="height: 120px; background-position: center center; background-size: contain; background-image: url(&quot;//u8.filesonload.ru/bd90bdd8d4ed83073e6e9a05363dfa3f/0b18777269a06a7a61efa119f65516e0.png&quot;);"><img class="" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt=""></div><noscript>&lt;img src="//u8.filesonload.ru/bd90bdd8d4ed83073e6e9a05363dfa3f/0b18777269a06a7a61efa119f65516e0.png" alt=""&gt;</noscript></div></div></div><div class="node node13 widget widget-text xs-hidden" outline="0"><div class="wrapper1"><div class="wrapper2"><div class=""><div class="xs-force-center textable"><p style="text-align: center;"><span style="font-family: &quot;Roboto Slab&quot;;"><span style="font-size: 16px;">Ми робимо унікальні іграшки з дерева для того, щоб Ваш подарунок був особливим</span></span></p></div></div></div></div></div><!-- ADAPTIVE --></div></div><div class="col" style="width: 50.029%;"><div class="cont"><div class="node node17 widget widget-text" outline="0"><div class="wrapper1"><div class="wrapper2"><div class=""><div class="xs-force-center textable"><p style="text-align: center;"><span style="font-family: &quot;Roboto Slab&quot;;">Приєднуйтеся до нас у соціальних мережах:</span></p></div></div></div></div></div><div class="node node18 widget widget-socials" outline="0"><div class="wrapper1"><div class="wrapper2"><div class="xs-force-center soc-icon paddings-10px white" data-id="uid3" id="uid3" style="text-align: center; font-size: 30px;"><a soc-index="0" href="https://www.facebook.com/thewoodcard/" target="_blank" class="fb "><div class="bg "></div></a><a soc-index="1" href="https://www.instagram.com/thewoodcard/" target="_blank" class="in "><div class="bg "></div></a></div></div></div></div></div></div><div class="col" style="width: 24.9855%;"><div class="cont"><div class="node node19 widget widget-text" outline="0"><div class="wrapper1"><div class="wrapper2"><div class=""><div class="xs-force-center textable"><p style="text-align: center;"><span style="font-family: &quot;Roboto Slab&quot;;"><span style="font-size: 16px;">Є питання?&nbsp;</span></span></p><p style="text-align: center;"><span style="font-family: &quot;Roboto Slab&quot;;"><span style="font-size: 16px;">Телефонуйте нам</span></span></p></div></div></div></div></div><div class="node node20 widget widget-text" outline="0"><div class="wrapper1"><div class="wrapper2"><div class=""><div class="xs-force-center textable"><p style="text-align: center;"><span style="font-size: 20px; font-family: &quot;Roboto Slab&quot;, serif;">(099)063-39-19,</span></p></div></div></div></div></div><div class="node node21 widget widget-text" outline="0"><div class="wrapper1"><div class="wrapper2"><div class=""><div class="xs-force-center textable"><p style="text-align: center;"><span style="font-family: &quot;Roboto Slab&quot;;"><span style="font-size: 16px;">пишіть у Viber або на пошту</span></span></p></div></div></div></div></div><div class="node node22 widget widget-text" outline="0"><div class="wrapper1"><div class="wrapper2"><div class=""><div class="xs-force-center textable"><p style="text-align: center;"><span style="font-size: 18px;"><span style="font-family: &quot;Roboto Slab&quot;, serif;">mywoodcard@gmail.com</span></span></p></div></div></div></div></div><div class="node node23 widget widget-text" outline="0"><div class="wrapper1"><div class="wrapper2"><div class=""><div class="xs-force-center textable"><p style="text-align: center;"><span style="font-size: 18px;"><span style="font-family: &quot;Roboto Slab&quot;;">Працюємо з 10:00 до 18:00</span></span></p></div></div></div></div></div></div></div></div></div></div></div></div><div class="node node27 widget widget-text" outline="0"><div class="wrapper1"><div class="wrapper2"><div class=""><div class="xs-force-center textable"><p style="text-align: center;"><span style="font-size: 12px; color: rgb(183, 183, 183);">@ 2016 WoodCard</span></p></div></div></div></div></div></div></div><span class="plplink"></span></div></div></div><div class="node section section-helper"><div class="macros-modal"><div class="modal fade nocolors lazy" data-modal="cart" area-context="uid14"><div class="modal-dialog" style="width: 760px;"><div class="modal-content"><div class="modal-header"><button class="close nofonts">×</button><h4 class="textable"><p>Кошик</p></h4></div><div class="modal-body"><div class="cont" style="display: none;"><div class="node node33 widget widget-cart-list"><div class="wrapper1"><div class="wrapper2"></div></div></div><div class="node node42 widget widget-grid"><div class="wrapper1"><div class="wrapper2"><div class="grid valign-middle paddings-20px xs-wrap"><div class="gridwrap"><div class="col" style="width: 50%;"><div class="cont"><div class="node node43 widget widget-cart-total"><div class="wrapper1"><div class="wrapper2"><div data-role="carttotal" style="text-align: left;">Итого: <span>-</span></div></div></div></div></div></div><div class="col" style="width: 50%;"><div class="cont"><div class="node node44 widget widget-button"><div class="wrapper1"><div class="wrapper2"><div class="macros-button"><div class="btn-out right xs-none"><div class="btn-inner"><button class="btn font-text" id="uid17" data-id="" data-action="modal" data-ym_goal="" data-ga_category="" data-ga_action="" data-modal="form"><span class="text">Прикріпити фото та замовити</span></button></div></div></div><div class="macros-modal"><div class="modal fade nocolors" data-modal="form" area-context="uid18"><div class="modal-dialog" style="width: 400px;"><div class="modal-content"><div class="modal-header"><button class="close nofonts">×</button><h4 class="textable"><p style="text-align: center;"><span style="color: rgb(238, 29, 36);"><span style="font-family: &quot;Roboto Slab&quot;;"><strong>Заповніть поля та додайте фото</strong></span></span></p></h4></div><div class="modal-body"><div class="macros-form"><div class="outer"><div class="inner"><div class="vertical none size-default"><div class="body"><div class="cont"></div><form class="form text-top" data-form="{&quot;name&quot;:&quot;Виджет \&quot;Кнопка\&quot;&quot;,&quot;type&quot;:&quot;order&quot;,&quot;privacy&quot;:&quot;checkbox&quot;,&quot;privacy_checkbox&quot;:&quot;Даю згоду на &lt;обробку моїх персональних даних&gt;&quot;,&quot;after&quot;:&quot;msg+url&quot;,&quot;msg&quot;:&quot;Дякуємо за замовлення!\nМи надішлемо Вам макет іграшки на затвердження протягом 2-х годин, з 10:00 до 18:00. Гарного дня!&quot;,&quot;url&quot;:&quot;&quot;,&quot;addhtml&quot;:&quot;&quot;,&quot;js&quot;:&quot;alert(\&quot;Этот код выполняется после успешного отправления заявки.\&quot;);&quot;,&quot;integrations&quot;:[]}" data-fields="[{&quot;name&quot;:&quot;Ім&#39;я та прізвище&quot;,&quot;type&quot;:&quot;name&quot;,&quot;required&quot;:true,&quot;id&quot;:&quot;&quot;},{&quot;name&quot;:&quot;E-mail&quot;,&quot;type&quot;:&quot;email&quot;,&quot;required&quot;:true,&quot;id&quot;:&quot;&quot;},{&quot;name&quot;:&quot;Номер мобільного телефону&quot;,&quot;type&quot;:&quot;phone&quot;,&quot;required&quot;:true,&quot;id&quot;:&quot;&quot;},{&quot;name&quot;:&quot;Місто та відділення Нової Пошти&quot;,&quot;type&quot;:&quot;text&quot;,&quot;required&quot;:false,&quot;id&quot;:&quot;&quot;},{&quot;name&quot;:&quot;Прикрипіть фото для нанесення&quot;,&quot;type&quot;:&quot;file&quot;,&quot;required&quot;:false,&quot;id&quot;:&quot;&quot;},{&quot;name&quot;:&quot;Оберіть побажання&quot;,&quot;type&quot;:&quot;select-menu&quot;,&quot;required&quot;:false,&quot;id&quot;:&quot;&quot;},{&quot;name&quot;:&quot;або напишіть своє :)&quot;,&quot;type&quot;:&quot;text&quot;,&quot;required&quot;:false,&quot;id&quot;:&quot;&quot;}]"><div class="fields"><div class="field" data-type="name"><div class="name">Ім'я та прізвище<span class="required">&nbsp;*</span></div><div class="input"><input class="form-control text" style="border-radius: 5px;"></div></div><div class="field" data-type="email"><div class="name">E-mail<span class="required">&nbsp;*</span></div><div class="input"><input class="form-control text" style="border-radius: 5px;"></div></div><div class="field" data-type="phone"><div class="name">Номер мобільного телефону<span class="required">&nbsp;*</span></div><div class="input"><input class="form-control text" style="border-radius: 5px;"></div></div><div class="field" data-type="text"><div class="name">Місто та відділення Нової Пошти</div><div class="input"><input class="form-control text" style="border-radius: 5px;"></div></div><div class="field" data-type="file"><div class="name">Прикрипіть фото для нанесення</div><div class="input"><div class="form-control file"><span class="state">Выберите файл...</span><div class="pseudo" action="/app/f" method="POST" enctype="multipart/form-data"><input type="hidden" name="ImageUploadForm[page]" value="1145559"><input type="file" name="ImageUploadForm[image]"></div></div></div></div><div class="field" data-type="select-menu"><div class="name">Оберіть побажання</div><div class="input"><select class="form-control" style="border-radius: 5px;"><option value="">-</option><option value="ДЛЯ ТЕБЕ ЗМОЖУ Я ВСЕ">ДЛЯ ТЕБЕ ЗМОЖУ Я ВСЕ</option><option value="ЛЮДИ МИ ТІЛЬКИ ТОДІ, ЯК ДУЖЕ СИЛЬНО ЛЮБИМО">ЛЮДИ МИ ТІЛЬКИ ТОДІ, ЯК ДУЖЕ СИЛЬНО ЛЮБИМО</option><option value="ТЫ ЛУЧШЕЕ ЧТО ЕСТЬ НА МОЕЙ ЗЕМЛЕ">ТЫ ЛУЧШЕЕ ЧТО ЕСТЬ НА МОЕЙ ЗЕМЛЕ</option><option value="ОКАЗАЛОСЬ ВОКРУГ ТЕБЯ ВЕСЬ МИР КРУЖИТ">ОКАЗАЛОСЬ ВОКРУГ ТЕБЯ ВЕСЬ МИР КРУЖИТ</option><option value="I WAS MADE TO LOVING YOU BABY">I WAS MADE TO LOVING YOU BABY</option><option value="БУДУ ТВОИМ Я МАСТЕРОМ">БУДУ ТВОИМ Я МАСТЕРОМ</option><option value="ЖИТЬ В ТВОЕЙ ГОЛОВЕ">ЖИТЬ В ТВОЕЙ ГОЛОВЕ</option><option value="ТИ МОЄ ДЖЕРЕЛО">ТИ МОЄ ДЖЕРЕЛО</option><option value="МЕНІ ТАК ДОБРЕ З ТОБОЮ">МЕНІ ТАК ДОБРЕ З ТОБОЮ</option><option value="БУДУ ЗАВЖДИ, ТИ ТАК І ЗНАЙ, ДРУГОМ ТВОЇМ">БУДУ ЗАВЖДИ, ТИ ТАК І ЗНАЙ, ДРУГОМ ТВОЇМ</option><option value="Я ИСКАЛА ТЕБЯ НОЧАМИ ДОЛГИМИ">Я ИСКАЛА ТЕБЯ НОЧАМИ ДОЛГИМИ</option></select></div></div><div class="field" data-type="text"><div class="name">або напишіть своє :)</div><div class="input"><input class="form-control text" style="border-radius: 5px;"></div></div></div><div class="agreement-checkbox"><label><input type="checkbox" checked="checked"> <span>Даю згоду на <a class="btn-modal agreement-link" data-modal="agreement">обробку моїх персональних даних</a></span></label></div><div class="macros-button"><div class="btn-out full xs-none"><div class="btn-inner"><button class="btn submit" id="uid19" data-ym_goal="" data-ga_category="" data-ga_action=""><span class="text">ПІДТВЕРДИТИ ЗАМОВЛЕННЯ</span><input type="submit"></button></div></div></div></form><div class="cont"></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div><div class="cont"><div class="node node50 widget widget-text"><div class="wrapper1"><div class="wrapper2"><div class=""><div class="xs-force-center textable"><p style="text-align: center;"><span style="font-size: 22px;"><span style="color: rgb(238, 29, 36);"><span style="font-family: &quot;Roboto Slab&quot;;"><strong>Додайте товари до кошика </strong></span></span></span></p></div></div></div></div></div></div></div></div></div></div></div><div class="macros-modal"><div class="modal fade nocolors robots-noindex robots-nocontent" data-modal="agreement" area-context="uid15"><!--googleoff: all--><!--noindex--><div class="modal-dialog" style="width: 600px;"><div class="modal-content"><div class="modal-header"><button class="close nofonts">×</button><h4 class="textable"><p>Політика конфіденційності</p></h4></div><div class="modal-body"><div class="cont"><div class="node node51 widget widget-text"><div class="wrapper1"><div class="wrapper2"><div class=""><div class="xs-force-center textable"><p><br></p></div></div></div></div></div></div></div></div></div><!--/noindex--><!--googleon: all--></div></div><div class="macros-modal"><div class="modal fade nocolors" data-modal="cookie" area-context="uid16"><div class="modal-dialog" style="width: 600px;"><div class="modal-content"><div class="modal-header"><button class="close nofonts">×</button><h4 class="textable"><p>Данный сайт использует Cookie</p></h4></div><div class="modal-body"><div class="cont"><div class="node node52 widget widget-text"><div class="wrapper1"><div class="wrapper2"><div class=""><div class="xs-force-center textable"><p>Редактируемый текст</p></div></div></div></div></div></div></div></div></div></div></div><div class="eventmodals"></div></div></div><script type="text/javascript" src="/main/index/default.js"></script><div id="cboxOverlay" style="display: none;"></div><div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;"><div id="cboxWrapper"><div><div id="cboxTopLeft" style="float: left;"></div><div id="cboxTopCenter" style="float: left;"></div><div id="cboxTopRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxMiddleLeft" style="float: left;"></div><div id="cboxContent" style="float: left;"><div id="cboxTitle" style="float: left;"></div><div id="cboxCurrent" style="float: left;"></div><button type="button" id="cboxPrevious"></button><button type="button" id="cboxNext"></button><button id="cboxSlideshow"></button><div id="cboxLoadingOverlay" style="float: left;"></div><div id="cboxLoadingGraphic" style="float: left;"></div></div><div id="cboxMiddleRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxBottomLeft" style="float: left;"></div><div id="cboxBottomCenter" style="float: left;"></div><div id="cboxBottomRight" style="float: left;"></div></div></div><div style="position: absolute; width: 9999px; visibility: hidden; display: none; max-width: none;"></div></div><div><div class="sweet-overlay" tabindex="-1"></div><div class="sweet-alert" tabindex="-1"><div class="icon error"><span class="x-mark"><span class="line left"></span><span class="line right"></span></span></div><div class="icon warning"> <span class="body"></span> <span class="dot"></span> </div> <div class="icon info"></div> <div class="icon success"> <span class="line tip"></span> <span class="line long"></span> <div class="placeholder"></div> <div class="fix"></div> </div> <div class="icon custom"></div> <h2>Title</h2><p>Text</p><button class="cancel" tabindex="2">Cancel</button><button class="confirm" tabindex="1">OK</button></div></div></body><span class="gr__tooltip"><span class="gr__tooltip-content"></span><i class="gr__tooltip-logo"></i><span class="gr__triangle"></span></span></html>
