<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WoodCard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="./thankyoupage/css/main.css">
    <link rel="stylesheet" href="./thankyoupage/css/thankyoupage.css">
</head>

<body>
<div class="thankyou-wrapper">

    <header class="thankyou-header">
        <div class="thankyou-header-container">
            <div class="thankyou-header-container-text">
                <h2>Дякуємо за замовлення!</h2>
                <p>Нам дуже приємно, що Ви обрали серце з підставкою WoodCard.</p>
                <p>Ми розробимо макет та надішлемо його Вам на затвердження протягом восьми годин з 10:00 до 20:00.</p>
                <p>Разом з макетом Ви отримаєте усі подальші інструкції щодо оплати та доставки.</p>
                <p>Гарного дня!</p>
                <p>З любов'ю, WoodCard.</p>
            </div>
        </div>
    </header>

    <footer class="thankyou-footer">
        <div class="footer-container">
            <div class="footer-col thankyou-footer-logo">
                <img src="./thankyoupage/img/logo-white.png" alt="">
                <p>Ми робимо унікальні іграшки з дерева для того, щоб Ваш подарунок був особливим</p>
            </div>
            <div class="footer-col thankyou-footer-social">
                <h3>Приєднуйтеся до нас у соціальних мережах:</h3>
                <ul class="thankyou-footer-social-list">
                    <li class="thankyou-footer-social-list-item"> <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                    <li class="thankyou-footer-social-list-item"> <a href="https://instagram.com/thewoodcard"><i class="fa fa-instagram" aria-hidden="true"></i></a> </i>
                    </li>
                </ul>
            </div>
            <div class="footer-col thankyou-footer-question">
                <p>Є питання? Телефонуйте нам:</p>
                <a href="tel:+380990633919">(099)063-39-19</a>
                <p>Пишіть у Viber або на пошту</p>
                <a href="mailto:mywoodcard@gmail.com">mywoodcard@gmail.com</a>
                <p>Працюємо з 10:00 до 18:00</p>
            </div>
        </div>
        <p class="copiright">@ 2016 WoodCard</p>
    </footer>
</div>
</body>

</html>
