.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.not-found {
  text-align: center;
}

.orders-container {
  padding: 40px;
}

.orders-header {
  font-size: 32px;
}

.orders-border {
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-top: 10px;
  padding: 25px;
}

.orders-table {
  margin-top: 20px;
}

.orders-table tbody tr:hover {
  cursor: pointer;
}

.orders-table td {
  vertical-align: middle;
}

.btn-add-sm {
  height: 27px;
  width: 27px;
  padding: 0;
}

.order-id {
  font-size: 20px;
}

.order-name {
  font-size: 20px;
}

.orders-link {
  margin-bottom: 10px;
}

.order-add-row {
  margin-top: 40px;
}

.o-comment-add {
  margin-top: 10px;
}

.img-preview {
  height: 50px;
  max-width: 150px;
}

.order-items-table tbody tr:hover {
  cursor: default;
}

.order-items-row {
  margin-top: 25px;
}

.add-order-item-label {
  font-size: 20px;
}

.img-preview {
  cursor: pointer;
}

.img-preview-popup {
  position: fixed;
  left: 0;
  right: 0;
  margin-top: -40px;
  width: 100%;
  height: 100%;
  background-color: rgba(100,100,100,0.3);
  z-index: 5;
}

.img-preview-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-preview-content img {
  max-width: 90%;
  max-height: 90%;
}

.preview-close {
  position: absolute;
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 24px;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.order-active {
  align-self: center;
}

.item-no-active {
  background-color: #ffe2e5;
}

.preview-download {
  position: absolute;
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  width: 30px;
  height: 30px;
  right: 50px;
  top: 13px;
  cursor: pointer;
}