.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.not-found {
  text-align: center;
}

.orders-container {
  padding: 40px;
}

.orders-header {
  font-size: 32px;
}

.orders-border {
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-top: 10px;
  padding: 25px;
}

.orders-table {
  margin-top: 20px;
}

.orders-table tbody tr:hover {
  cursor: pointer;
}

.btn-add-sm {
  height: 27px;
  width: 27px;
  padding: 0;
}

.order-id {
  font-size: 20px;
}

.order-name {
  font-size: 20px;
}

.orders-link {
  margin-bottom: 10px;
}

.order-add-row {
  margin-top: 40px;
}

.o-comment-add {
  margin-top: 10px;
}




